@CHARSET "UTF-8";


.add_expiry_button{
	margin: 10px;
background: #ffe400;
border-color: #0074a2;
-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
color: #333;
text-decoration: none;
cursor: pointer;
border-width: 1px;
border-style: solid;
-webkit-appearance: none;
-webkit-border-radius: 3px;
border-radius: 3px;
white-space: nowrap;
}
/* 
.btn-default{
	background-color: #ffe400;margin-bottom:10px; margin-left:10px;font-weight:bold;
	
} */


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align:center;
}


.dash_thumb{
	font-size:5em;
	color:#428bca;
	}
	
.dash_thumb:hover{
	color:#365a79;
}

 
.col-center{
  margin:0 auto;
}

.search-query{
	box-sizing: border-box;
	-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
-webkit-appearance: textfield;


height: 15px;
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;

color: #555;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;

-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

border-radius: 3px;

	
	
	
}